<dp>
	<img src="/images/dp.jpg" height="180" width="180" alt="Videsh's picture" align=left>
</dp>
<bio>
	<ul>
		<li>{{site.name}}</li>
		<li>{{site.description}}</li>
		<li><a href="mailto:{{ site.umass_mail }}">{{ site.umass_mail }}</a></li>
	</ul>
	<ul1>
		<a href="mailto:{{ site.gmail }}"><span class="icon">{% include gmail.svg %}</span></a>
		<a href="{{ site.github }}"><span class="icon">{% include github.svg %}</span></a>
		<a href="{{ site.linkedin }}"><span class="icon">{% include linkedin.svg %}</span></a>
		<!-- <a href="{{ site.twitter }}"><span class="icon">{% include twitter.svg %}</span></a> -->
	</ul1>  
</bio>